.App {
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px
}
.Inputs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Amount{
  padding-top: 10px;
}
.TotalAmount{
  text-decoration: underline;
}
.slider{
  width: 100%;
}
.PercentageValues{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.Tenure{
  padding-top: 10px;
}
.DurationContainer{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.Duration{
  width: 100px;
  background-color: lightgray;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}
.Active{
  background-color: lightblue;
}